* {
    font-family: Avenir, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
}

body {
    background: #ededed;
}

header h1{
    color: black;
    font-size: 1.5em;
    width: 90%;
    margin: 0 auto;
    padding: 2%;
}

main {
    width: 100%;
    box-shadow: 0px 0px 10px #222;
}


footer{
    border-top: 2px solid #fff;
}

footer p{
    width: 90%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}
footer a{
    color: #fff;
}

nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    font-size: 18px;
    color: #ededed;
}

nav li a {
    margin-top: 20px;
    padding: 15px 26px;
    font-size: 18px;
    color: #ededed;
    display: inline-block;
    outline: 0;
    font-weight: 500;
}


section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px #bbb;
}

p{
    font-size: 1em;
    line-height: 1.5em;
}
a{
    text-decoration: none;
    color: #000000;
}

.db{
    width: 100%;
    padding: 20px 0px;
    background: url("img/fondImg.jpg") #4f4f4f;
    box-shadow: 0px 0px 15px #333;
}


#photo_profil{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px #777;
    border-radius: 50%;
    margin-top: 0px;
}


#titre_pp{
    color: white;
    font-size: 1.5em;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 2%;
}