* {
    font-family: Avenir, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
}

body {
    background: #ededed;
}

header h1{
    color: rgb(92,92,158);
    font-size: 1.5em;
    width: 90%;
    margin: 0 auto;
    padding: 2%;
}

section{
    margin-bottom: 20px;
    width: 100%;
    background-color: #ededed;
}

section article{
    width: 90%;
    padding-left: 5%;
}

main {
    width: 100%;
    box-shadow: 0px 0px 2px #777;
    background-color: white;
}


footer{
    border-top: 2px solid #fff;
}

footer p{
    width: 90%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}
footer a{
    color: #fff;
}

nav {
    z-index: 100;
}

nav li {
    list-style-type: none;
    margin: 0;
    display: inline-block;
    position: relative;
    font-size: 18px;
    color: #ededed;
}

/* Permet l'animation lorsque l'on passe la souris sur la navbar */
nav li:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

nav li a {
    padding: 15px 26px;
    font-size: 18px;
    color: #ededed;
    display: inline-block;
    outline: 0;
    font-weight: 500;
    border: hidden;
}

li:hover:after {
    width: 100%;
    background: white;
}

/* Fin animation navbar */

p{
    font-size: 1em;
    line-height: 1.5em;
}
a{
    text-decoration: none;
    color: #000000;
}

.db{
    width: 100%;
    padding: 20px 0px;
    background: url("img/en-tête/fondImg.jpg") #4f4f4f;
    box-shadow: 0px 0px 15px #333333;
}


.navbar{
    position: fixed;
    width: 100%;
    left :0;
    top: 0;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
    background-color: transparent;
    transition: 0.3s;
    height: 60px;
}

.scrolled{
    background-color: rgb(92,92,158);
    transition: 0.3s;
}




/* Section Contact */
.section_contact{
    width: 100%;
    background-color: #ededed;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.contact-flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-left: 12%;
}
.contact-flex p:first-child{
    flex: 0 0 20%;
}
.contact-flex p:last-child{
    flex: 0 0 80%;
}

.contact_title{
    color: black;
    width: 80%;
    margin: 0 auto;
    padding: 2%;
}

.reseaux_sociaux{
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto 0px auto;
}

.reseaux_sociaux img{
    width: 80px;
    height: 80px;
}

/* Fin Section Contact */


/*SECTION EXP ET FORMATION*/
.experience{
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #bbb;
    padding-bottom: 2%;
    margin-bottom: 10px;
    padding-left: 12%;
    padding-top: 2%;
}
.experience_info{
    display: flex;
    flex-flow: column wrap;
}
.experience_logo{
    flex: 0 0 25%;
    max-width: 100px;
}
.experience_info{
    flex: 0 0 75%;
    margin-left: auto;
}
.experience img{
    width: 100%;
}
.experience h3{
    font-size:  1.2em;
}
.experience h4{
    font-size:  1em;
    font-weight: normal;
}

/* Style pour le form */
.form-style{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 500px;
    margin: 10px auto;
    padding: 0;
    background: rgb(237,237,237);
}

.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style textarea,
.form-style select
{
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

.form-style input[type="text"]:focus,
.form-style input[type="date"]:focus,
.form-style input[type="datetime"]:focus,
.form-style input[type="email"]:focus,
.form-style input[type="number"]:focus,
.form-style input[type="search"]:focus,
.form-style input[type="time"]:focus,
.form-style input[type="url"]:focus,
.form-style textarea:focus,
.form-style select:focus
{
    box-shadow: 0 0 5px rgb(92,92,158);
    padding: 3%;
    border: 1px solid rgb(92,92,158);
}

.form-style input[type="submit"]{
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    width: 100%;
    border: none;
    padding: 3%;
    background: rgb(110,110,158);;
    color: #ededed;
}

.form-style input[type="submit"]:hover{
    background: rgb(92,92,158);
}
/* Fin style pour le form */


/* Section competence */

.article_competences{
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    width: 90%;
    background-color: #ededed;
}

.competences_header{
    flex: 1 100%;
    padding-left: 8%;
    padding-bottom: 2%;
}

.competences{
    flex: 0 1 25%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 5%;
}
.competences img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #555;
}

/* Fin Compétences */

/* Qui suis-je */

.quisuisje{
    border-bottom: 2px dashed #ccc;
}


/* Centre d'intérêt */

.centre_interet{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    padding-left: 10%;
    padding-bottom: 3%;
}

.interets {
    flex: 1 1 30%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
}

.interets img {
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 15px #555;
}

.interets p{
    text-align: center;
    width: 300px;
    padding-top: 5%;
}

/**/


/* Mes projets*/
.mes_projets{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    padding-left: 10%;
    padding-bottom: 3%;
}

.projets{
    flex: 1 1 20%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
}

.projets img {
    width: auto;
    height: auto;
    box-shadow: 0px 0px 15px #555;
}

.projets video {
}

.projets p{
    text-align: center;
    width: 450px;
    padding-top: 5%;
    padding-bottom: 5%;
}
/* Fin mes projets */

#photo_profil{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px #777;
    border-radius: 50%;
    margin-top: 5%;
}

#titre_pp{
    color: white;
    font-size: 1.5em;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 2%;
}

/* Cas de petit écran */
@media screen and (min-width: 980px){
    section{
        width: 100%;
        box-shadow: 0px 0px 10px #bbb;
    }
    header h1{
        width: 80%;
    }

    .experience_logo{
        flex: 0 0 10%;
    }
    .experience_info, .experience_desc{
        flex: 0 0 85%;
        margin-left: auto;
    }
    .competences{
        flex: 0 1 25%;
    }
}